<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Contact Us</title>

        <!-- Bootstrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

        <!-- Our Style -->
        <link rel="stylesheet" href="/css/front.css">
       
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        
        
        <nav class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> 
                    </button>
                    <a class="navbar-brand" href="#">Cliently.io</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Blog</a></li> 
                        <li><a href="#">Login</a></li>
                        <li><a href="#" class="signup">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="main" class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Get in touch today!</h1>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonu nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    <br><br>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum.</p>
                    
                    <div class="contact-info">
                        <span class="email text-blue">info@cliently.io</span><br>
                        1-888-498-9420<br>
                        New York NY 10009<br>
                        +44 987 654 321<br>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Subject">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="10" placeholder="Your Message..."></textarea>
                    </div>
                    <button class="btn-blue">Send</button>
                </div>
            </div>
        </div>
       
       
        <footer>
            <div class="container">
                <div class="row footer-first-block">
                    <div class="col-md-3">

                        <h1>Support</h1>
                        <ul class="footer-ul">
                            <li class="footer-link"><a href="#">Help &amp; Support</a></li>
                            <li class="footer-link"><a href="#">Getting Started FAQ</a></li>
                            <li class="footer-link"><a href="#">Video</a></li>
                            <li class="footer-link"><a href="#">Blog</a></li>
                        </ul>

                    </div>
                    <div class="col-md-3">

                        <h1>Contact Us</h1>
                        <ul class="footer-ul">
                            <li class="footer-link">@: <span class="text-blue">info@cliently.io</span></li>
                            <li class="footer-link">p: 1-888-498-9420</li>
                            <li class="footer-link">a: 404 E. 14th St.</li>
                            <li class="footer-link">New York NY 10009</li>
                        </ul>

                    </div>
                    <div class="col-md-3">

                        <h1>Socials</h1>
                        <ul class="footer-ul">
                            <li class="footer-link"><a href="#">Linkedin</a></li>
                            <li class="footer-link"><a href="#">Facebook</a></li>
                            <li class="footer-link"><a href="#">Twitter</a></li>
                            <li class="footer-link"><a href="#">Google +</a></li>
                        </ul>

                    </div>

                    <div class="col-md-3">

                        <h1>Newsletter</h1>
                        <p>Subscribe to our newsletter and get all the cool news!</p>
                        <input type="email" class="newsletter-email" placeholder="Enter Email">
                        
                    </div>

                </div>

                <div class="row footer-second-block">

                    <div class="col-md-6">
                        <h1>Cliently.io</h1>
                        <p>Copyright &copy; Cliently 2015. All Rights Reserved</p>
                    </div>
                    <div class="col-md-6">
                        
                        <ul class="footer-nav">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li> 
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Partners &amp; Affiliates</a></li>
                            <li><a href="#">Sitemap</a></li>
                        </ul>
                        
                    </div>
               
                </div>
                
            </div>
            
        </footer>
       
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </body>
</html>