<html>
	<head>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://checkout.stripe.com/checkout.js"></script>
	</head>
	<body>
		<button id="customButton">Purchase</button>

		<script>
			var handler = StripeCheckout.configure({
				key: 'pk_test_NrbzidguNRW4mBxUWV0OvIP2',
				image: '/images/logo.png',
				name: 'Cliently.com',
				locale: 'auto',
				currency: 'USD',
				token: function(token) {
					// Use the token to create the charge with a server-side script.
					// You can access the token ID with `token.id`
					alert(token.id);
				}
			});

			$('#customButton').on('click', function(e) {
				// Open Checkout with further options
				handler.open({
					panelLabel: 'Subscribe',
					description: '<Subscription plan name>',
					amount: 2000
				});
				e.preventDefault();
			});

			// Close Checkout on page navigation
			$(window).on('popstate', function() {
				handler.close();
			});
		</script>
	</body>
</html>
