# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    domain:            dev2.cliently.ca
    google_app_id:     920431362941-ksi7mm22mmr6q3i1t20o2749i13jokp8.apps.googleusercontent.com
    google_app_secret: wYZreZfgqn_g2m808JWI5KMu
    twitter_app_id:    7F0IX0juiVE8BfThmLB4vA
    twitter_app_secret: FCrFk2Zcg8q0g5X4kI8HLJDtkYkGNDsqsxomT6TaU
