
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Test</title>
    </head>
    <body class="full-padding" style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%;background-color: #171e24;">
        <!--<![endif]-->
        <img src="http://www.google-analytics.com/collect?v=1&tid=UA-73073817-1&cid=1234&t=event&ec=email&ea=open&el=recipient_id&cs=newsletter&cm=email&cn=Campaign_Name">
        <div class="wrapper" style="background-color: #171e24;">
            <table style="border-collapse: collapse;table-layout: fixed;color: #fff;font-family: Ubuntu,sans-serif;" align="center">
                <tbody><tr>
                        <td class="preheader__snippet" style="padding: 10px 0 5px 0;vertical-align: top;" width="300">

                        </td>
                        <td class="preheader__webversion" style="text-align: right;padding: 10px 0 5px 0;vertical-align: top;" width="300">

                        </td>
                    </tr>
                </tbody></table>

            <table class="layout layout--no-gutter" style="border-collapse: collapse;table-layout: fixed;Margin-left: auto;Margin-right: auto;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #212a32;" align="center">
                <tbody><tr>
                        <td class="column" style="font-size: 14px;line-height: 21px;padding: 0;text-align: left;vertical-align: top;color: #e0dce0;font-family: Ubuntu,sans-serif;" width="600">

                            <div class="image" style="font-size: 12px;font-style: normal;font-weight: 400;" align="center">
                                <img class="gnd-corner-image gnd-corner-image-center gnd-corner-image-top" style="display: block;border: 0;max-width: 900px;" src="https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xpa1/t31.0-8/12823495_10201786703546068_1880082080238272470_o.jpg" alt="" width="600" height="300">
                            </div>

                            <div style="Margin-left: 20px;Margin-right: 20px;Margin-top: 20px;">
                                <div style="line-height:14px;font-size:1px">&nbsp;</div>
                            </div>

                            <div style="Margin-left: 20px;Margin-right: 20px;">
                                <h1 class="size-30" style="Margin-top: 0;Margin-bottom: 0;font-style: normal;font-weight: normal;font-size: 30px;line-height: 38px;color: #E7E7E7;text-align: center;">Hello <span style="color:#FD0097;"></span> welcome to Empire2!</h1><p class="size-18" style="Margin-top: 20px;Margin-bottom: 20px;font-size: 18px;line-height: 26px;text-align: center;"><span style="color:#E7E7E7; text-align:center">To complete your account click the button below.  From there you will create your new password.&nbsp;</span></p>
                            </div>

                            <div style="Margin-left: 20px;Margin-right: 20px;">
                                <div style="line-height:12px;font-size:1px">&nbsp;</div>
                            </div>

                            <div style="Margin-left: 20px;Margin-right: 20px;Margin-bottom: 24px;">
                                <div class="btn btn--flat" style="text-align:center;">
                                    <!--[if !mso]--><a style="border-radius: 4px;display: inline-block;font-weight: bold;text-align: center;text-decoration: none !important;transition: opacity 0.1s ease-in;color: #171e24;background-color: #E7E7E7;font-family: Ubuntu, sans-serif;font-size: 14px;line-height: 24px;padding: 12px 35px;" href="" data-width="128" target="_blank">Create New Password</a><!--[endif]-->

                                    <script type="text/javascript" src="https://js.createsend1.com/js/jquery-1.7.2.min.js?h=C99A46590218b"></script>
                                    <script type="text/javascript">$(function () {
                                            $('area,a').attr('target', '_blank');
                                        });</script>
                                    </html>

